<h1>Listing customers</h1>

<%= search_form_for @search do |f| %>
  <div class="inline-form">
    <div id='search' class="left-control-group">
      <div class="field">
        <%= f.text_field :name_or_address_or_postcode_or_phone_cont, placeholder: "Name, address, postcode or phone" %>
      </div>
      <div class="actions"><%= f.submit "Search", class: 'button tiny' %></div>
    </div>
    <div class="right-control-group">
      <%= link_to 'New Customer', new_customer_path, class: "button tiny" %>
    </div>
  </div>
<% end %>

<%= paginate @customers %>
<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :name, 'Name' %></th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.postcode %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.notes %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>
<br>
