<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</p>

<%= link_to 'New Order', new_customer_order_path(@customer), class: 'button' %>

<h2>Orders</h2>
<table>
  <thead>
    <tr>
      <th>Sticker number</th>
      <th>Created At</th>
      <th>Due Date</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'orders/order', collection: @customer.orders %>
  </tbody>
</table>
<br/>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
