<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</p>

<%= link_to 'New order', new_customer_order_path(@customer), class: 'button' %>

<h2>Orders</h2>
<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Sticker number</th>
      <th>Complete</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.due_date %></td>
        <td><%= order.sticker_number %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', [@customer, order] %></td>
        <td><%= link_to 'Edit', edit_customer_order_path(@customer, order) %></td>
        <td><%= link_to 'Destroy', [@customer, order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
