<%= simple_form_for(@order, url: [@customer, @order]) do |f| %>

  <div class="form-inputs">
    <%= f.input :due_date, as: :datetime %>
    <%= f.input :sticker_number %>
    <%= f.input :status %>
    <%= f.input :notes %>
  </div>

  <h4>Order Items</h4>
  <table class="expandable_fields">
    <thead>
      <tr>
        <th>Item type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :items do |item_fields| %>
        <%= render 'item_fields', f: item_fields %>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="order_total_row">
        <td colspan="3">Order total:</td>
        <td colspan="2" class="order_total"><%= humanized_money_with_symbol_and_cents f.object.total %></td>
      </tr>
    </tfoot>
  </table>
  <div>
    <%= link_to_add_fields "Add Item", f, :items %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
