<%= simple_form_for(@order_with_items, url: [@order_with_items.customer, @order_with_items.order]) do |f| %>

  <div class="form-inputs">
    <%= f.input :due_date %>
    <%= f.input :sticker_number %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
