<tr>
  <td><%= link_to order.sticker_number, [order.customer, order] %></td>
  <td><%= order.created_at %></td>
  <td><%= order.due_date %></td>
  <td><%= humanized_money_with_symbol_and_cents order.total %></td>
  <td><%= link_to order.status, toggle_status_order_path(order), method: :post %></td>
  <td><%= link_to display_paid(order.paid), toggle_paid_order_path(order), method: :post %></td>
  <td><%= link_to 'Edit', edit_customer_order_path(order.customer, order) %></td>
  <td><%= link_to 'Destroy', [order.customer, order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
