<p id="notice"><%= notice %></p>

<p>
  <strong>Due date:</strong>
  <%= @order.due_date %>
</p>

<p>
  <strong>Sticker number:</strong>
  <%= @order.sticker_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@order.customer, @order) %> |
<%= link_to 'Back', :back %>
